<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="com.west2online.nativewidget">

        <application>
            <service
                android:name=".CourseScheduleWidgetService"
                android:exported="false"
                android:permission="android.permission.BIND_REMOTEVIEWS" />
        </application>

</manifest>
