name: Build Release APK

on:
  push:
    branches:
      - master
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout sources
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20.14.0

      - uses: actions/setup-java@v4
        with:
          distribution: microsoft
          java-version: 17.0

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v3
        with:
          gradle-version: 8.8

      - name: Install dependencies
        run: yarn install

      - name: Prebuild
        run: yarn run prebuild:android

      - name: Build Release APK
        run: |
          cd android
          ./gradlew app:packageRelease

      - name: Upload outputs
        uses: actions/upload-artifact@v4
        with:
          name: outputs
          path: android/app/build/outputs
          retention-days: 0
