name: Build IPA

on:
  push:
    branches:
      - master

jobs:
  build_ios:
    runs-on: macos-latest

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Restore Cache
        uses: actions/cache@v4
        with:
          path: |
            ${{ github.workspace }}/node_modules
          key: ${{ runner.os }}-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-

      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          node-version: 22
          cache: 'yarn'

      - name: Setup EAS CLI
        uses: expo/expo-github-action@v8
        with:
          eas-version: latest
          token: ${{ secrets.EAS_TOKEN }}

      - name: Install Dependencies
        run: yarn install --frozen-lockfile --prefer-offline

      - name: EAS Build iOS
        run: eas build --platform ios --profile production --non-interactive --local --output=./build/fzuhelper.ipa

      - name: Upload to Github Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: ios-build
          path: ./build/fzuhelper.ipa